<%= form_for(@job) do |f| %>
    <%= f.text_field :name, placeholder: "Job Name" %>
    <%= f.text_area :description, placeholder: "Desctiption of your app" %>
    <%= f.text_field :picture_url, placeholder: "Url of image, leave blank for random" %>
    <button class="btn btn-info"><a href="/jobs">Create New Job</a></button>
<% end %>