<<<<<<< HEAD:emerge/app/views/welcome/index.html.erb
<h1>JopKits</h1>

<p></p>
=======
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
FB.getLoginStatus(function(response) {
statusChangeCallback(response);
});
>>>>>>> origin/master:app/views/welcome/index.html.erb
