
<h1>JobKits</h1>
<style>ul.a {
    list-style-type: circle;
}
</style>
<ul class="a">
<li>  Looking for a job?</li>
<li> Talented?</p\li>
<br>
<li> Develop your skills!</li>
<br>
</ul>
 <br>
 <br>
<img src="http://www.media-plan.de/files/cooperation_gross.jpg" alt="http://www.media-plan.de/files/cooperation_gross.jpg" class="img-circle">