<h1>Getting started </h1>
 
<p>Whether Your a Employer/Employee looking for someone to work on a project for,
  or looking for someone to pay you to work on a project this site might be for you.
  starting up is very easy and quick follow the the instruction to regester and create 
  or join a project. </p>
<br>
<h2>Registering </h2>
<br>
<style>ul.a {
    list-style-type: circle;
}
</style>

<ul class="a">
  <li>First off you need to make an ancount registered at the sign up tab. </li>
  <br>
  <li>When making an acount make sure you provide the nessary information such as email, skills, interest. </li>
  <br>
  <li>Do no give Any sensetive information for it can be seen publicly.</li>
</ul>
<br>
<h2>Creating a job</h2>

<ul class="a">
  <li>To Create a job simply go to the jobs dropdown menu. </li>
  <br>
  <li>Select Employ.</li>
  <br>
  <li>Click on the create job button. </li>
  <br>
  <li>Lastly fill the feilds shown in the pop-up modal.</li>
  <li>We are not in charge of any monetary transactions.</li>
</ul>
<br>
<h2>Joining a job</h2>
<ul class="a">
  <li>To Create a job simply go to the jobs dropdown menu. </li>
  <br>
  <li>Select Work.</li>
  <br>
  <li>Select a job you would like to work on. </li>
  <br>
  <li>Contact the person hiring (facebook is a great way to do this).</li>
  <br>
  <li>We are no in charge of any monetary transactions </li> 
</ul>

